html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.footerbar {
  text-align: center;
  position: relative;
  bottom: 0;
  min-height: 3vh;
  margin-top: 200px;
  padding: 1rem;
  color: #00352b;
  border: 0 solid black;
  background-color: #f8f1e7;
  border-radius: 5px;
  max-width: 16rem;
}
