.cart_box img {
  width: 80px;
  height: 80px;
}

.cart_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  border-bottom: 2px solid #588157;
  padding-bottom: 5px;
}

.cart_box div:nth-child(2) button {
  padding: 5px 10px;
  font-weight: bold;
  margin-right: 5px;
}

.cart_box div:nth-child(3) button {
  padding: 5px 10px;
  letter-spacing: 2px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.total {
  display: flex;
  justify-content: flex-end;
  font-size: 2rem;
  color: green;
  font-weight: bold;
}
#orderbtn {
  color: white;
  background-color: rgba(0, 56, 38, 0.95);
  border-color: rgba(0, 56, 38, 0.95);
  border-radius: 5px;
  padding: 0.3rem 0.5rem;
}

#orderbtn[disabled] {
  background-color: #588157;
  border-color: #588157;
}
